
/* Your CSS Code here. */
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
.item-1{
	border:2px solid black;
	height:100px;
	width:100px;
/* 	background-color:red; */
	}
.holder{
	display:flex;
	align-items:center;
	justify-content:center;
	
	width:100%;
/* 	border:2px solid black; */
	height:100%;
	
}