
/* Your CSS Code here. */
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
.item-1{
	border:2px solid black;
	height:100px;
	width:100px;
	margin:auto;
/* 	background-color:red; */
	}
.holder{
	
	
	width:100%;
	border:2px solid black;
	height:100%;
	
}